@import "mocha.css";

* {
    font-family: FiraCode Nerd Font;
    font-size: 14px;
    min-height: 0;
}
#waybar {
    background: transparent;
    color: @text;
    margin: 5px 5px;
}

#workspaces {
    border-radius: 1rem;
    margin: 5px;
    background-color: @surface0;
    margin-left: 1rem;
}

#workspaces button {
    color: @lavender;
    border-radius: 1rem;
    padding: 0.4rem;
}

#workspaces button.focused {
    color: @sky;
    border-radius: 1rem;
}

#workspaces button:hover {
    color: @sapphire;
    border-radius: 1rem;
}

#clock,
#custom-music,
#pulseaudio,
#backlight,
#battery,
#cpu,
#bluetooth,
#network,
#tray,
#custom-updates,
#custom-lock,
#custom-power {
    background-color: @surface0;
    padding: 0.5rem 1rem;
    margin: 5px 0px;
}

#clock.madrid,
#bluetooth,
#pulseaudio,
#custom-lock {
    border-radius: 1rem 0px 0px 1rem;
    margin-left: 0.5rem;
}

#clock.utc,
#cpu,
#network,
#custom-power {
    border-radius: 0px 1rem 1rem 0px;
    margin-right: 0.5rem;
}

#custom-updates,
#tray {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    border-radius: 1rem;
}

#clock {
    color: @blue;
}

#bluetooth {
    color: @overlay1;
}

#bluetooth.connected {
    color: @blue;
}

#cpu {
    color: @yellow;
}

#network {
    color: @overlay1;
}

#network.linked {
    color: @green;
}

#network.wifi {
    color: @green;
}

#battery {
    color: @green;
}

#battery.charging {
    color: @green;
}

#battery.warning:not(.charging) {
    color: @red;
}

#backlight {
    color: @yellow;
}

#backlight, #battery {
    border-radius: 0;
}

#pulseaudio {
    color: @maroon;
}

#custom-music {
    color: @mauve;
    border-radius: 1rem;
}

#custom-lock {
    color: @lavender;
}

#custom-power {
    color: @red;
}

#custom-updates.critical {
    background-color: @red;
    color: @base;
}
